src/main/resources/wsdl/seriva/message.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8080" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080" targetNamespace="http://localhost:8080">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8080">
    <xs:element name="getMessageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="calypsoMessage" type="tns:calypsoMessage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMessageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serivaMessage" type="tns:serivaMessage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="calypsoMessage">
            <xs:sequence>
                <xs:element name="tradeId" type="xs:string"/>
                <xs:element name="externalReference" type="xs:string"/>
                <xs:element name="tradeStatus" type="xs:string"/>
                <xs:element name="tradeSource" type="xs:string"/>
                <xs:element name="productType" type="xs:string"/>
                <xs:element name="productSubType" type="xs:string"/>
                <xs:element name="sentDate" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
    <xs:complexType name="serivaException">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="serivaMessage">
            <xs:sequence>
                <xs:element name="tradeId" type="xs:string"/>
                <xs:element name="externalReference" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="exceptionDetail" type="tns:serivaException"/>
            </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMessageRequest">
    <wsdl:part element="tns:getMessageRequest" name="getMessageRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessageResponse">
    <wsdl:part element="tns:getMessageResponse" name="getMessageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MessagePort">
    <wsdl:operation name="getMessage">
      <wsdl:input message="tns:getMessageRequest" name="getMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:getMessageResponse" name="getMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessagePortSoap11" type="tns:MessagePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMessage">
      <soap:operation soapAction=""/>
      <wsdl:input name="getMessageRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessagePortService">
    <wsdl:port binding="tns:MessagePortSoap11" name="MessagePortSoap11">
      <soap:address location="http://localhost:7005/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>